{% extends "base.html" %}
{% block content %}

</section>

    <h1 class="typewriter"><span id="typed-text"></span><span class="cursor">|</span></h1>
    <p>I'm an aspiring <span class="accent">Data Engineer</span> with a keen interest in <span class="accent">Artificial Intelligence</span> and 
        <span class="accent">Machine Learning</span>. I focus on building scalable data pipelines, 
        exploring intelligent systems,
         and leveraging modern tools to create impactful, real-world solutions.</p>

    <a href="/projects" class="button">View My Projects</a>
</section>
