{% extends "base.html" %}
{% block content %}
<section class="intro">
    <h2><span class="accent">print</span>(Hello World!, I'm <span class="accent">Amohelang Mohlomi)</span></h2>
    <p>As an aspiring <span class="accent">Software Engineer</span> with a passion for leveraging Artificial Intelligence to orchestrate intelligent complex systems – encompassing domains such as security , smart home automation systems, and predictive medical informatics – I am driven to craft innovative solutions that yield meaningful impact on human lives. With a background in Human Resources Management, I bring a unique perspective to understanding the needs of diverse users, 
        enabling me to design solutions that are both effective and user-centered.</p>
    <a href="/projects" class="button">View My Projects</a>
</section>
{% endblock %}
