{% extends "base.html" %}
{% block content %}

<section class="intro">

    <section class="slideshow">
    <div class="slides">
        <img src="{{ url_for('static', filename='img/slide1.jpeg') }}" class="slide active">
        <img src="{{ url_for('static', filename='img/slide2.jpeg') }}" class="slide">
        <img src="{{ url_for('static', filename='img/slide3.jpeg') }}" class="slide">
        <img src="{{ url_for('static', filename='img/slide4.jpeg') }}" class="slide">
    </div>

    <div class="controls">
        <button id="prev">&#10094;</button>
        <button id="next">&#10095;</button>
    </div>
</section>

    <h1 class="typewriter"><span id="typed-text"></span><span class="cursor">|</span></h1>
    <p>I'm an aspiring <span class="accent">Data Engineer</span> with a keen interest in <span class="accent">Artificial Intelligence</span> and 
        <span class="accent">Machine Learning</span>. I focus on building scalable data pipelines, 
        exploring intelligent systems,
         and leveraging modern tools to create impactful, real-world solutions.</p>

    <a href="/projects" class="button">View My Projects</a>
</section>

<section class="education">

    <h2>Educational Background</h2>
    <ul class="edu-list">
        <li>
            <strong>Diploma in Software Engineering</strong><br>
            <em>WeThinkCode_ | 2024 – Present</em><br>
            Currently specializing in the <strong>Data Engineering</strong> elective. Developed strong skills in Python, Flask, and backend development.
        </li>
        <li>
            <strong>National Certificate in Human Resource Management</strong><br>
            <em>Maluti TVET College | Completed</em><br>
            Built a foundation in professional communication, organizational behavior, and people management.
        </li>
    </ul>

</section>

<section class="certifications">

    <h2>Certifications</h2>
    <ul class="cert-list">
        <li>GenAI for Software Engineering - WeThinkCode_</li>

        <li>AWS Educate Machine Learning Foundations - AWS Educate</li>
        <li>Microsoft AI Fluency - Microsoft</li>
        <li>Python for Data Science- IBM</li>
    </ul>

</section>

<section class="tech-stack">
    <h2>Tech Stack</h2>

    <h3>Languages</h3>
    <ul class="languages">
        <li><img src="{{ url_for('static', filename='img/python.png') }}" alt="Python Logo"> Python</li>
        <li><img src="{{ url_for('static', filename='img/java.png') }}" alt="Java Logo"> Java</li>
        <li><img src="{{ url_for('static', filename='img/sql.jpg') }}" alt="SQL Logo"> SQL</li>
        <li><img src="{{ url_for('static', filename='img/javascript.jpg') }}" alt="JavaScript Logo"> JavaScript</li>
        <li><img src="{{ url_for('static', filename='img/html.png') }}" alt="HTML Logo"> HTML</li>
        <li><img src="{{ url_for('static', filename='img/css_logo.webp') }}" alt="CSS Logo"> CSS</li>
    </ul>

    <h3>Frameworks & Tools</h3>
    <ul class="tools">
        <li><img src="{{ url_for('static', filename='img/flask.png') }}" alt="Flask Logo"> Flask</li>
        <li><img src="{{ url_for('static', filename='img/git.png') }}" alt="Git Logo"> Git</li>
        <li><img src="{{ url_for('static', filename='img/docker.png') }}" alt="Docker Logo"> Docker</li>
        <li><img src="{{ url_for('static', filename='img/ms-excel.png') }}" alt="Excel Logo"> Microsoft Excel</li>
        <li><img src="{{ url_for('static', filename='img/ms-access.jfif') }}" alt="Access Logo"> Microsoft Access</li>
        <li><img src="{{ url_for('static', filename='img/ms-word.png') }}" alt="Word Logo"> Microsoft Word</li>
        <li><img src="{{ url_for('static', filename='img/ms-powerpoint.png') }}" alt="PowerPoint Logo"> Microsoft PowerPoint</li>
        <li><img src="{{ url_for('static', filename='img/jupyter-notebook.png') }}" alt="Jupyter Notebook Logo"> Jupyter Notebook</li>
    </ul>
    </ul>

    <h3>Cloud Tools/Platforms</h3>
    <ul class="cloud">
        <li><img src="{{ url_for('static', filename='img/aws.png') }}" alt="AWS Logo"> AWS Cloud</li>
    </ul>
</section>


{% endblock %}
