{% extends "base.html" %}
{% block content %}

<section class="intro">

    <section class="slideshow">
    <div class="slides">
        <img src="{{ url_for('static', filename='img/slide1.jpeg') }}" class="slide active">
        <img src="{{ url_for('static', filename='img/slide2.jpeg') }}" class="slide">
        <img src="{{ url_for('static', filename='img/slide3.jpeg') }}" class="slide">
        <img src="{{ url_for('static', filename='img/slide4.jpeg') }}" class="slide">
    </div>

    <div class="controls">
        <button id="prev">&#10094;</button>
        <button id="next">&#10095;</button>
    </div>
</section>

    <h1 class="typewriter"><span id="typed-text"></span><span class="cursor">|</span></h1>
    <p>I'm an aspiring <span class="accent">Data Engineer</span> with a keen interest in <span class="accent">Artificial Intelligence</span> and 
        <span class="accent">Machine Learning</span>. I focus on building scalable data pipelines, 
        exploring intelligent systems,
         and leveraging modern tools to create impactful, real-world solutions.</p>

    <a href="/projects" class="button">View My Projects</a>
</section>

<section class="education">

    <h2>🎓 Educational Background</h2>
    <ul class="edu-list">
        <li>
            <strong>Diploma in Software Engineering</strong><br>
            <em>WeThinkCode_ | 2024 – Present</em><br>
            Currently specializing in the <strong>Data Engineering</strong> elective. Developed strong skills in Python, Flask, and backend development.
        </li>
        <li>
            <strong>National Certificate in Human Resource Management</strong><br>
            <em>Maluti TVET College | Completed</em><br>
            Built a foundation in professional communication, organizational behavior, and people management.
        </li>
    </ul>

</section>

<section class="certifications">

    <h2>📜 Certifications</h2>
    <ul class="cert-list">
        <li>GenAI for Software Engineering - WeThinkCode_</li>
        <li>AWS Educate Machine Learning Foundations - AWS Educate</li>
        <li>Microsoft AI Fluency - Microsoft</li>
        <!-- <li>Google Cloud Fundamentals (in progress)</li>
        <li>AWS Cloud Practitioner Essentials(in progress)</li> -->

    </ul>

</section>

<section class="tech-stack">
    <h2>Tech Stack</h2>
    <h3>Languages</h3>
    <ul class="languages">
        <li>Python</li>
        <li>Java</li>
        <li>SQL</li>
        <li>JavaScript</li>
        <li>HTML</li>
        <li>CSS</li>
    </ul>

    <h3>Frameworks & Tools</h3>
    <ul class="frameworks & tools">
        <li>Flask</li>
        <li>Git</li>
        <li>Docker</li>
        <li>Microsoft Excel</li>
        <li>Microsoft Access</li>
        <li>Microsoft Word</li>
        <li>Microsoft Powerpoint</li>
    </ul>
    
     <h3>Cloud Tools/Platforms</h3>
    <ul class="cloud">
        <li>AWS cloud</li>
        <li>Google Cloud</li>
        
    </ul>
    
</section>

{% endblock %}
